# used to remove files from deployment via `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore
.github/ export-ignore
# CI/CD
.travis.yml export-ignore
.gitlab-ci.yml export-ignore
# general text files
.idea/ export-ignore
*.e.md export-ignore
# my projects
.all-contributorsrc export-ignore
.goreleaser.yml export-ignore
*_proj.yaml export-ignore
# This repo
*.png export-ignore
